<script>
	import Chat from './chat.svelte';

	// import Admin from './admin.svelte';
	// import { image } from '.././static/chatlogo.png';
</script>

<!-- <h2 class="flex justify-center p-20 text-2xl">Login Here</h2> -->

<div class="section flex gap-8 w-full">
	<div class="section__left flex flex-col justify-start p-8">
		<div class="ml-80 p-10 mb-16 text-xl flex">
			<div class="logo">
				<!-- <img src={image} alt="Chat Logo" /> -->
			</div>

			<nav>
				<ul class="flex gap-12 px-4 ">
					<li><a href="/userLogin">User</a></li>
					<li><a href="/adminLogin">Admin</a></li>
				</ul>
			</nav>
		</div>

		<div class="form__layout">
			<form class="px-4 py-3 rounded-full flex justify-center flex-col w-auto">
				<input
					class="p-10 bg-gray-300
				placeholder-opacity-70
				placeholder-gray-900"
					type="text"
					placeholder="Admin ID"
				/>
				<br />
				<input
					class="p-10 bg-gray-300
				placeholder-gray-900
				 placeholder-opacity-70"
					type="text"
					placeholder="Admin Name"
				/>
				<br />

				<button type="submit" class="bg-sky-500 px-10 py-3  rounded w-40 text-xl">Login</button>
			</form>
		</div>
	</div>

	<div class="section__right bg-gradient-to-t from-sky-50 to-blue-500" />
</div>

<style>
	.section__right {
		border: 10px solid black;
		width: 100%;
		height: 100%;
		background: url('../static/banner-img.jpg') no-repeat center center/cover;
	}
</style>
