<h1 class="text-3xl  mt-10 text-center">Admin Dashboard</h1>
<div class="container flex">
	<div class="user__list w-1/2 ml-10 pl-20 py-20 text-xl leading-loose">
		<h1 class="text-left text-4xl mb-10">User List</h1>

		<div
			class="card 
		max-w-3xl
		overflow-hidden
		shadow-lg
		shadow-slate-500
		mb-4
		flex
		items-center"
		>
			<div class="card__inbox px-6 py-4 flex gap-5 items-center ">
				<p class="text-center w-1/2">Rojan Adhikari</p>

				<a
					href="/updateUser"
					class=" bg-sky-500 px-1
					py-1
					rounded-xl
					w-40
					text-center
					">Update</a
				>
				<a
					href="/deleteUser"
					class=" bg-sky-500 px-1 ml-5
				py-1
				rounded-xl
				w-40
				text-center">Delete</a
				>
			</div>
		</div>

		<!-- User List Item -2 -->

		<div
			class="card 
	max-w-xl
	overflow-hidden
	shadow-lg
	shadow-slate-500
	mb-7
	flex
	items-center"
		>
			<div class="card__inbox px-6 py-4 flex gap-5 items-center">
				<p class="text-center w-1/2">Krishna Rijal</p>

				<a
					href="/updateUser"
					class=" bg-sky-500 px-1
			py-1
			rounded-xl
			w-40
			text-center">Update</a
				>

				<a
					href="/deleteUser"
					class=" bg-sky-500 px-1 ml-5
		py-1
		rounded-xl
		w-40
		text-center">Delete</a
				>
			</div>
		</div>

		<!-- User Item List 3 -->

		<div
			class="card 
max-w-xl
overflow-hidden
shadow-lg
shadow-slate-500
mb-7
flex
items-center"
		>
			<div class="card__inbox px-6 py-4 flex gap-5 items-center">
				<p class="text-center w-1/2">Ujjwal Pudasaini</p>

				<a
					href="/updateUser"
					class=" bg-sky-500 px-1
		py-1
		rounded-xl
		w-40
		text-center">Update</a
				>

				<a
					href="/deleteUser"
					class=" bg-sky-500 px-1 ml-5
	py-1
	rounded-xl
	w-40
	text-center">Delete</a
				>
			</div>
		</div>

		<!-- User Item List 4 -->

		<div
			class="card 
	max-w-xl
	overflow-hidden
	shadow-lg
	shadow-slate-500
	mb-7
	flex
	items-center"
		>
			<div class="card__inbox px-6 py-4 flex gap-5 items-center">
				<p class="text-center w-1/2">Sabin Gautam</p>

				<a
					href="/updateUser"
					class=" bg-sky-500 px-1
			py-1
			rounded-xl
			w-40
			text-center">Update</a
				>

				<a
					href="/deleteUser"
					class=" bg-sky-500 px-1 ml-5
		py-1
		rounded-xl
		w-40
		text-center">Delete</a
				>
			</div>
		</div>
	</div>

	<div class="w-1/2 pt-20 pl-20 text-center m-auto">
		<form class="px-4 py-3 rounded-full flex justify-center flex-col ">
			<a
				href="/addUser"
				type="submit"
				class="bg-sky-500 px-10 py-5 rounded-xl w-60 text-center text-2xl">Add User</a
			>
		</form>
	</div>
</div>
