<script lang="ts" context="module">
</script>

<div class="container">
	<p class="text-center p-2 text-3xl">Chat Messenger</p>
	<div class="main flex flex-row">
		<!-- User/People List Section -->
		<div class="main__userlist p-10 border border-red-600 w-1/5 h-screen">
			<p class="text-2xl mb-5">People</p>
			<ul>
				<li class="text-xl mb-2">Krishna Rijal</li>
				<li class="text-xl mb-2">Rojan Adhikari</li>
				<li class="text-xl mb-2">Sabin Gautam</li>
				<li class="text-xl mb-2">Ujjwal Pudasaini</li>
			</ul>
		</div>

		<!-- Chat Window -->
		<form class="main__chatwindow p-10 border border-orange-600 w-4/5">
			<div>
				<div class="message border border-rose-400 p-3 w-1/3">
					<h5 class="text-xs">Krishna</h5>
					<p>How are u guys doing</p>
					<p class="text-xs">3:00pm</p>
				</div>

				<div class="message border border-rose-400 p-3 w-1/3 flex flex-col justify-end">
					<h5 class="text-xs">Rojan</h5>
					<p>How are u guys doing</p>
					<p class="text-xs">3:00pm</p>
				</div>

				<div class="message border border-rose-400 p-3 w-1/3">
					<h5 class="text-xs">Sabin</h5>
					<p>How are u guys doing</p>
					<p class="text-xs">3:00pm</p>
				</div>

				<div class="message border border-rose-400 p-3 w-1/3">
					<h5 class="text-xs">Ujwal</h5>
					<p>How are u guys doing</p>
					<p class="text-xs">3:00pm</p>
				</div>

				<div class="message border border-rose-400 p-3 w-1/3">
					<h5 class="text-xs">Krishna</h5>
					<p>How are u guys doing</p>
					<p class="text-xs">3:00pm</p>
				</div>
			</div>
			<div class="input">
				<input
					type="text"
					placeholder="Type Your Message"
					class="mt-10 placeholder-black placeholder-opacity-70 w-4/5 p-5 bg-gray-500"
				/>
				<button class="button bg-blue-500 rounded px-10 py-5 ml-5">Submit</button>
				<button class="button bg-pink-400 rounded px-10 py-5">Client Init</button>
			</div>
		</form>

		<!-- <div class="main__chatBrowser" /> -->
	</div>
</div>
