<script>
</script>

<main>
	<h1 class="flex justify-center p-12 text-3xl">Chat Application</h1>
	<nav>
		<ul class="flex flex-row justify-center text-xl">
			<li class="mx-20"><a href="/">Home</a></li>
			<li class="mx-20"><a href="/admin">Admin</a></li>
			<li class="mx-20"><a href="/addUser">Add User</a></li>
			<li class="mx-20"><a href="/userLogin">User Login</a></li>
			<li class="mx-20"><a href="/chat">Chat</a></li>
			<li class="mx-20"><a href="/chatList">Chat List</a></li>
			<li class="mx-20"><a href="/updateUser">Update User</a></li>
		</ul>
	</nav>
</main>
