<div class="section flex gap-8 w-full">
	<div class="section__left flex flex-col justify-start p-8 w-1/2">
		<div class="ml-40 px-10 mb-20 text-xl flex">
			<div class="logo">
				<!-- <img src={image} alt="Chat Logo" /> -->
				<h1 class="text-left text-3xl">Update User</h1>
			</div>
		</div>

		<div class="form__layout">
			<form class="px-4 py-3 rounded-full flex justify-center flex-col w-auto">
				<input
					class="p-10 bg-gray-300
				placeholder-opacity-70
				placeholder-gray-900"
					type="text"
					placeholder="User ID"
				/>
				<br />
				<input
					class="p-10 bg-gray-300
				placeholder-gray-900
				 placeholder-opacity-70"
					type="text"
					placeholder="User Name"
				/>
				<br />

				<a href="#" type="submit" class="bg-sky-500 px-10 py-5  rounded w-52 text-xl text-center"
					>Update User</a
				>
			</form>
		</div>
	</div>

	<div class="section__right bg-gradient-to-t from-sky-50 to-blue-500" />
</div>
