<script>
	// import { image } from './static/chatlogo.png';
</script>

<div class="ml-80 p-10 mb-16 text-xl flex">
	<div class="logo">
		<!-- <img src={image} alt="Chat Logo" /> -->
	</div>

	<nav>
		<ul class="flex gap-12 px-4 ">
			<li>User</li>
			<li>Admin</li>
		</ul>
	</nav>
</div>
